<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.InformationcategoriesMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Informationcategories">
            <id property="infocategoryid" column="InfoCategoryID" />
            <result property="infocategoryname" column="InfoCategoryName" />
    </resultMap>

    <sql id="Base_Column_List">
        InfoCategoryID,InfoCategoryName
    </sql>
</mapper>
