<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.UsersMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Users">
            <id property="userid" column="UserID" />
            <result property="username" column="Username" />
            <result property="password" column="Password" />
            <result property="email" column="Email" />
            <result property="phonenumber" column="PhoneNumber" />
            <result property="registrationtime" column="RegistrationTime" />
            <result property="role" column="Role" />
    </resultMap>

    <sql id="Base_Column_List">
        UserID,Username,Password,Email,PhoneNumber,RegistrationTime,
        Role
    </sql>
</mapper>
